@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en" data-critters-container>
<head>
    <meta charset="utf-8">
    <title>AngularMvc</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/dist/angular-mvcstyles.ef46db3751d8e999.css">
</head>
<body>
    <app-root></app-root>
    <script src="/dist/angular-mvcruntime.755999bef33ab851.js" type="module"></script>
    <script src="/dist/angular-mvcpolyfills.37cd88fb96b29be5.js" type="module"></script>
    <script src="/dist/angular-mvcmain.31c81415695b1055.js" type="module"></script>
</body>
</html>




